@import 'src/assets/scss/variables';

.onlineStatusContainer {
  position: relative;
  display: inline-block;

  &.online::before,
  &.offline::before {
    content: '';
    position: absolute;
    left: -12px;
    top: 50%;
    width: 6px;
    height: 6px;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  &.online::before {
    background-color: $bg-online;
  }

  &.offline::before {
    background-color: $bg-offline;
  }

  .statusName {
    color: $color-online-status-text;
    opacity: 0.3;
  }
}
