@import '../../../scss/variables';

.authContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .authContent {
    button {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.1px;
    }

    .titleContainer {
      margin: 0 0 50px;
      text-align: center;

      h1 {
        margin: 0 0 5px;
        font-size: 28px;
        color: $black;
      }

      p {
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0.1px;
        opacity: 0.5;
      }
    }

    .block {
      max-width: 430px;
      width: 100vw;

      form {
        .checkboxContainer {
          & > div > div > div {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      a {
        margin: 20px 0 !important;
      }
    }
  }
}
