@import "../../scss/variables";

.dialoguesScrollableContainer {
  & > div {
    &:nth-child(2), &:nth-child(3) {
      div {
        background-color: $bg-scrollbar !important;
      }
    }
  }

  .loadingContainer {
    width: 100%;
    margin: 40px 0 0;
    text-align: center;
  }

  .emptyData {
    color: $color-empty-data-text;
  }
}
