.dialoguesList {
  max-width: inherit;
  width: 100vw !important;
  margin: 0 0 5px;
  overflow: auto;
  flex: 1;
}

.loadingContainer {
  margin: 40px 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
