@import "src/assets/scss/variables";

.homePage {
  $height: var(--100vh);
  height: $height;
  background-color: $bg-body;

  .container {
    margin: 0 auto;
    max-width: 1143px;
    width: 100%;
    height: $height;
    display: grid;
    grid-template-columns: 310px 1fr;
    background: $bg-content-left;
    box-shadow: 0 0 25px $color-container-shadow;

    @media (max-width: 480px) {
      grid-template-columns: 100%;
    }
  }
}
