@import '../../scss/variables';

.withoutAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: saturate(5);

  span {
    user-select: none;
    color: $color-avatar-status-border;
    filter: drop-shadow(1px 1px 5px $color-avatar-shadow);
  }
}
