$black: #202020;
$black-darker: #000;
$black-light: #383838;
$white: #fff;
$white-no-changeable: #fff;
$white-lighter: #f5f5f5;
$gray: #adadad;
$gray-light: #f2f2f2;
$blue: #3674ff;
$blue-secondary: #418fff;
$blue-dark: #0f3997;
$blue-light: #72b6ff;
$blue-width-light: #f3f7ff;
$border-light: #ececec;
$red-light: #f46b6b;
$green: #00c980;
