@mixin colors {
  --black: #000;
  --black2: #202020;
  --black3: #212121;
  --black4: #0f0f0f;
  --black5: #181818;
  --black6: #383838;
  --black-opacity: #0000000c;
  --black-opacity2: #0000000f;
  --black-opacity3: #000000ff;
  --black-opacity4: #0000003f;
  --black-opacity5: #0000007f;
  --black-opacity6: #2020200A;
  --white: #fff;
  --white2: #f3f7ff;
  --white3: #f5f5f5;
  --white4: #f4f7fd;
  --white5: #f7f8f9;
  --white-opacity: #ffffff0f;
  --gray: #adadad;
  --gray2: #aaaaaa;
  --gray3: #bebebe;
  --gray4: #f2f2f2;
  --gray5: #f7f7f7;
  --gray6: #e9e9e9;
  --gray7: #ececec;
  --gray8: #d9d9d9;
  --blue: #0f3997;
  --blue2: #3674ff;
  --blue3: #418fff;
  --blue4: #72b6ff;
  --blue5: #a6bdf0;
  --blue6: #dae6ff;
  --blue7: #1890ff;
  --blue-opacity: #3674FF33;
  --red: #FF0000;
  --red2: #f46b6b;
  --green: #00c980;
}

@mixin staticColors {
  --color-text-static-white: var(--white);
  --color-text-static-gray: var(--gray);
  --color-btn-icon-static-white: var(--white);
  --color-btn-icon-static-black: var(--black2);
}

@mixin lightTheme {
  --bg-body: var(--white4);
  --bg-shadow-block: var(--white);
  --bg-content-left: var(--white);
  --bg-content-right: var(--white);
  --bg-online: var(--green);
  --bg-offline: var(--red2);
  --bg-text-message: var(--blue2);
  --bg-text-message-me: var(--white3);
  --bg-audio-message: var(--blue3);
  --bg-audio-play-btn: var(--blue);
  --bg-text-field: var(--white2);
  --bg-filter: var(--blue2);
  --bg-dialogue: var(--white);
  --bg-dialogue-hover: var(--white);
  --bg-dialogue-active: var(--blue6);
  --bg-loading: var(--blue6);
  --bg-loading-circle: var(--blue5);
  --bg-remove-overlay: var(--black);
  --bg-auth-btn: var(--blue7);

  --color-border: var(--gray5);
  --color-auth-input-border: var(--gray8);
  --color-auth-input-border-error: var(--red);
  --color-message-border: var(--blue2);
  --color-message-border-me: var(--gray7);
  --color-shadow: var(--black2);
  --color-container-shadow: var(--black-opacity6);
  --color-block-shadow: var(--black-opacity2);
  --color-drop-shadow: var(--black-opacity5);
  --color-bubble-shadow: var(--blue-opacity);
  --color-bubble-shadow-me: var(--black-opacity);
  --color-username: var(--black2);
  --color-text: var(--black2);
  --color-input: var(--black-opacity3);
  --color-placeholder: var(--gray2);
  --color-online-status-text: var(--black);
  --color-audio-icon: var(--white);
  --color-audio-icon-me: var(--black2);
  --color-audio-time: var(--white);
  --color-audio-time-me: var(--black2);
  --color-avatar-shadow: var(--black6);
  --color-avatar-status-border: var(--white);
  --color-btn: var(--white);
  --color-btn-icon: var(--black2);
  --color-time: var(--black2);
  --color-empty-data-text: var(--black-opacity4);
  --color-unread-count-text: var(--white);
  --color-link: var(--gray);
  --color-link-hover: var(--black2);
}

@mixin darkTheme {
  --bg-body: var(--black6);
  --bg-shadow-block: var(--black3);
  --bg-content-left: var(--black3);
  --bg-content-right: var(--black4);
  --bg-online: var(--green);
  --bg-offline: var(--red);
  --bg-text-message: var(--black6);
  --bg-text-message-me: var(--black5);
  --bg-audio-message: var(--blue3);
  --bg-audio-play-btn: var(--blue);
  --bg-text-field: var(--black5);
  --bg-filter: var(--gray2);
  --bg-dialogue: var(--black3);
  --bg-dialogue-hover: var(--black6);
  --bg-dialogue-active: var(--black5);
  --bg-loading: var(--black5);
  --bg-loading-circle: var(--gray3);
  --bg-remove-overlay: var(--black);
  --bg-auth-btn: var(--black6);

  --color-border: var(--black6);
  --color-auth-input-border: var(--black6);
  --color-auth-input-border-error: var(--red);
  --color-message-border: var(--black6);
  --color-message-border-me: var(--black6);
  --color-shadow: var(--gray3);
  --color-container-shadow: var(--black-opacity6);
  --color-block-shadow: var(--black-opacity2);
  --color-drop-shadow: var(--black3);
  --color-bubble-shadow: var(--white-opacity);
  --color-bubble-shadow-me: var(--white-opacity);
  --color-username: var(--white);
  --color-text: var(--white);
  --color-input: var(--white2);
  --color-placeholder: var(--gray2);
  --color-online-status-text: var(--white);
  --color-audio-icon: var(--white);
  --color-audio-icon-me: var(--white);
  --color-audio-time: var(--white);
  --color-audio-time-me: var(--white);
  --color-avatar-shadow: var(--black6);
  --color-avatar-status-border: var(--black3);
  --color-btn: var(--white);
  --color-btn-icon: var(--white);
  --color-time: var(--white2);
  --color-empty-data-text: var(--gray);
  --color-unread-count-text: var(--white);
  --color-link: var(--gray);
  --color-link-hover: var(--white);
}

$color-text-static-white: var(--color-text-static-white);
$color-text-static-gray: var(--color-text-static-gray);
$color-btn-icon-static-white: var(--color-btn-icon-static-white);
$color-btn-icon-static-black: var(--color-btn-icon-static-black);

$bg-body: var(--bg-body);
$bg-shadow-block: var(--bg-shadow-block);
$bg-content-left: var(--bg-content-left);
$bg-content-right: var(--bg-content-right);
$bg-online: var(--bg-online);
$bg-offline: var(--bg-offline);
$bg-text-message: var(--bg-text-message);
$bg-text-message-me: var(--bg-text-message-me);
$bg-audio-message: var(--bg-audio-message);
$bg-audio-play-btn: var(--bg-audio-play-btn);
$bg-text-field: var(--bg-text-field);
$bg-filter: var(--bg-filter);
$bg-dialogue: var(--bg-dialogue);
$bg-dialogue-hover: var(--bg-dialogue-hover);
$bg-dialogue-active: var(--bg-dialogue-active);
$bg-loading: var(--bg-loading);
$bg-loading-circle: var(--bg-loading-circle);
$bg-remove-overlay: var(--bg-remove-overlay);
$bg-auth-btn: var(--bg-auth-btn);

$color-border: var(--color-border);
$color-auth-input-border: var(--color-auth-input-border);
$color-auth-input-border-error: var(--color-auth-input-border-error);
$color-message-border: var(--color-message-border);
$color-message-border-me: var(--color-message-border-me);
$color-shadow: var(--color-shadow);
$color-container-shadow: var(--color-container-shadow);
$color-block-shadow: var(--color-block-shadow);
$color-drop-shadow: var(--color-drop-shadow);
$color-bubble-shadow: var(--color-bubble-shadow);
$color-bubble-shadow-me: var(--color-bubble-shadow-me);
$color-username: var(--color-username);
$color-text: var(--color-text);
$color-input: var(--color-input);
$color-placeholder: var(--color-placeholder);
$color-online-status-text: var(--color-online-status-text);
$color-audio-icon: var(--color-audio-icon);
$color-audio-icon-me: var(--color-audio-icon-me);
$color-audio-time: var(--color-audio-time);
$color-audio-time-me: var(--color-audio-time-me);
$color-avatar-shadow: var(--color-avatar-shadow);
$color-avatar-status-border: var(--color-avatar-status-border);
$color-btn: var(--color-btn);
$color-btn-icon: var(--color-btn-icon);
$color-time: var(--color-time);
$color-empty-data-text: var(--color-empty-data-text);
$color-unread-count-text: var(--color-unread-count-text);
$color-link: var(--color-link);
$color-link-hover: var(--color-link-hover);
