.dialogListContainer {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 5px;
  padding: 0 0 0 14px;
  max-width: 334px;
  width: 100vw;

  @media (max-width: 480px) {
    padding: 0;
    max-width: 100%;
  }
}
